.layui-footer {
    text-align: center;
    font-size: 12px;
}

.iconfont {
    padding-right: 10px;
}

iframe {
    width: 100%;
    height: 100%;
}

.layui-body {
    overflow: hidden;
}

.layui-side-scroll .userinfo {
    line-height: 60px;
    text-align: center;
    vertical-align: top;
    border-bottom: 1px solid #282B33;
    user-select: none;
}
/* 设置文字头像 */
.text-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #009688;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    margin-right: 8px;
}